<div class="col-xs-4 text-center users">
    <%= link_to user do %>
       <div class="buddy-box" data-toggle="modal" data-target="#user-<%= user.id %>-Modal">
          <%= image_tag 'http://www.northleach.gov.uk/wp-content/uploads/2013/12/blank-avatar-220x220.png', class: 'bud profile-pic' %>
          <br>
          <%= user.name %>
       </div>
    <% end %>
</div>

<!-- Modal -->
  <div class="modal fade" id="user-<%= user.id %>-Modal" tabindex="-1" role="dialog" aria-labelledby="user<%= user.id %>-Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="user<%= user.id %>-Label"><%= user.name %></h3>	
        </div>
        <div class="modal-body">
          <small align="center">
          	<%= user.bio %>
          </small>
        </div>
        <div class="modal-footer">
          <%= link_to user do %>
          	<button type="button" class="btn btn-default viewProfButton"><h4>View Profile</h4></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
