<div class="box">
  <div id="big-logo">

    <%= image_tag "logo.png" %>

    <div id="pairfit">PairFit</div>

  </div>

  <%= form_for :session, url: login_path, html: {class: "login"} do |f| %>
    <%= f.email_field :email, id: "email", placeholder: "Email" %>
    <%= f.password_field :password, id: "pw", placeholder: "Password" %>
    <%#= f.label :remember_me, class: "checkbox inline" do %>
      <%#= f.check_box :remember_me %>
      <!--span>Remember me on this device</span-->
    <%# end %>
    <%= f.submit "log in" %>

    <div id="new-user">
      <%=link_to new_user_path do%>
        New User?<br> Sign up now!
      <% end %>
    </div>

  <% end %>




</div>


