<!-- This will be future profile -->
<div class="over"></div>

<div class="prof-box">
  <div class="prof">
    <div class="top-box">

      <!-- Left -->
      <div class="person-box">
        <!-- Profile Image -->
        <%= image_tag "profile.png", class: "prof-img" %>
        <br>
        <span class="name"><%= @user.name %></span>
        <br>
        <span class="age">
          <%= @user.age %>
        </span>
        &middot
        <span class="location">
          <%= @user.location %>
        </span>
      </div>

      <div class="slide-container">

        <div class="slide">
          
          <% if !current_user?(@user) %>
          <a href="javascript:;" class="add-buddy-button next">
            <div class="add-buddy">
              <span>+</span>
            </div>
          </a>
          <a href="/static_pages/search_results_B/" class="add-buddy-button">
            <div class="go-back">
              <span><</span>
            </div>
          </a>
          <% end %>

          <div class="activity-box">
            <% @user.activities.each do |a| %>
              <a href="javascript:;" class="activity-button" id="<%= a.name.delete(' ') %>">
                <%= image_tag(a.name.delete(' ') + '.png', class: "activity-badge") %>
              </a>
            <% end %>
            <br>
            <br>
            <% if current_user?(@user) %>
                <%= link_to "Edit activities", edit_activities_user_path(@user), class: "btn btn-primary" %>
                <%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-primary" %>
            <% end %>
            <% @user.activities.each do |a| %>
              <div class="activity-info" id="<%= a.name.delete(' ') %>">
                <h5><%= a.name.upcase %></h5>
                <table>
                  <% a.marks.each do |m| %>
                    <tr>
                      <td>
                        <%= m.name %>:
                      </td>
                      <td>
                        <% unless @user.user_mark(m).nil? %>
                          <%= @user.user_mark(m).amount %>
                        <% end %>
                      </td>
                      <td>
                          <%= link_to "New Personal Best", new_user_user_mark_path(user_id: @user.id,  mark: m, activity: a) %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </div>
            <% end %>
          </div>
          <!-- Location -->
          <div class="col-lg-8 col-sm-8 col-lg-offset-2 col-sm-offset-2">
            <div class="bio text-center">
              <h5>ABOUT ME</h5>
              <%= @user.bio %>
            </div>
            <div class="bio text-center">
              <h5>GOALS</h5>
            </div>  
<!--            <div class="bio text-center">
              <h5>ACTIVITIES</h5>

            </div>-->
            <div class="bio text-center">
              <h5>BUDDIES</h5>
              <table class="small-buddies">
                <% for partnership in @user.partnerships %>
                  <tr>
                    <td>
                      <%= link_to buddy_page_user_path(partnership.partner) do %>
                        <span class="buddy-box">
                          <%= image_tag 'http://www.northleach.gov.uk/wp-content/uploads/2013/12/blank-avatar-220x220.png', class: 'bud profile-pic text-center'%>
                           <br>
                           <%= partnership.partner.name %>
                        </span>
                      <% end %>
                    </td>
                    <% if current_user?(@user) %>
                    <td>
                      (<%= link_to "remove", partnership, :method => :delete %>)
                    </td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>

        </div>
        <div class="slide">
          <div class="add-confirmation">
            <div>
              Add <%= @user.name %> as a partner?
            </div>
            <div class="buttons">

              <%= link_to partnerships_path(:partner_id => @user), :method => :post do %>
                <span class="button">Yes!</span>
              <% end %>

              <a href="javascript:;" class="prev"><span class="button">Go back</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>