<!-- This will be future profile -->
<div class="over"></div>

<div class="prof-box">
  <div class="prof">
    <div class="top-box">

      <!-- Left -->
      <div class="person-box">
        <!-- Profile Image -->
        <%= image_tag "profile.jpg", class: "prof-img" %>
        <br>
        <span class="name"><%= @user.name %></span>
        <br>
        <span class="age">
          <%= @user.age %>
        </span>
        &middot
        <span class="location">
          San Diego, CA
        </span>
      </div>

      <div class="slide-container">

        <div class="slide">
          <a href="javascript:;" class="add-buddy-button next">
            <div class="add-buddy">
              <span>+</span>
            </div>
          </a>
          <div class="activity-box">
            <% @user.activities.each do |a| %>
              <a href="javascript:;" class="activity-button" id="<%= a.name.delete(' ') %>">
                <%= image_tag(a.name.delete(' ') + '.png', class: "activity-badge") %>
              </a>
            <% end %>

            <% @user.activities.each do |a| %>
              <div class="activity-info" id="<%= a.name.delete(' ') %>">
                <h5><%= a.name.upcase %></h5>
                adf;lkajds f;lakdsjf ;alkdsfj ;aldskfj ald;skf ja;ldskf jads;lkf jasd;klf ja;sdklf j
              </div>
            <% end %>
          </div>
          <!-- Location -->
          <div class="bio">
            <h5>ABOUT ME</h5>
            <%= @user.bio %>
          </div>
        </div>

        <div class="slide">

          <div class="add-confirmation">
            <div>
              <a href="javascript:;" class="prev">
                Add <%= @user.name %> as a partner?
              </a>
            </div>
            <div class="buttons">
              <a href="javascript:;"><span class="button">Yes!</span></a>
              <a href="javascript:;" class="prev"><span class="button">Go back</span></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>